html {
  font-size: 16px;
  background-color: white;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 100;
  margin: 0px;
  width: 85%;
}

header {
  height: 80px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding: 10px 100px;
  justify-content: space-between;
  /* border-bottom: 1px solid gainsboro; */
  background-color: gray;
  color: white;
}

header ul {
  display: inline-flex;
  list-style-type: none;
  align-items: center;
  justify-content: flex-end;
}

header ul li {
  padding: 20px;
}

header ul li a {
  text-decoration: none;
  color: white;
}

header ul li a:hover {
  font-weight: 400;
  border-bottom: 1px solid white;
}

header h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  display: flex;
  align-items: flex-start;
}

header h1 a {
  font-weight: normal;
  text-decoration: none;
  color: white;
}

.section2 h1 {
  margin: 50px 100px;
}

.options {
  width: 103%;
  display: inline-flex;
  justify-content: flex-start;
  flex-direction: row;
  padding: 10px 50px;
  /* border: 1px solid red; */
  flex-wrap: wrap;
}

.options a {
  text-decoration: none;
  color: black;
}


.element {
  background-color: whitesmoke;
  padding: 20px;
  margin: 10px;
  width: 1300px;
  display: inline-flex;
  justify-content: flex-start;
  flex-direction: row;
}

.element-img img {
  height: 300px;
  width: 350px;
  margin-left: 10px;
}

.element-text {
  border: 1px solid gray;
  width: 350px;
  margin-left: 10px;
  padding: 10px;
  font-weight: normal;
}

.element-text img {
  height: 60px;
}

/* -- GALLERY -- */

.gallery {
  width: 103%;
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  padding: 10px 50px;
  /* border: 1px solid red;*/
  flex-wrap: wrap;
}

.gallery img {
  width: 200px;
  margin: 10px;
  transition: 1s;
}

.gallery img:hover {
  transform: scale(1.1);
}

/**/

.gallery figure {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  padding: 0px;
}

.gallery a {
  text-decoration: none;
  color: black;
  font-weight: normal;
  font-size: 1rem;
}

/**/

/* -- SECTION 4 -- */

.section-4 {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin: 20px 50px;
  border-top: 2px dotted black;
}

.section-4 a {
  text-decoration: none;
  color: black;
  font-weight: lighter;
  transition: font-size 600ms linear 0ms;
}

.section-4 a:hover {
  font-size: 0.95rem;
  border-bottom: 1px solid black;
}

/* -- FOOTER -- */

footer {
  margin-top: 50px;
  height: 50px;
  width: 100%;
  padding: 0px 100px;
  display: inline-flex;
  justify-content: center;
  background-color: gainsboro;
  font-size: 1rem;
}
footer p {
  padding: 0rem 1rem;
}
